In [2]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.master("local[*]").appName('test_json').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/14 21:49:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
df_raw = spark.read.option("header", "true").json('test_struc_data.json')

In [10]:
df_raw.show()
print(type(df_raw))

+---+---------+------+
|age|     name|salary|
+---+---------+------+
| 30|     John|  5000|
| 35|     Emma|  6000|
| 28|  Michael|  4800|
| 40|   Sophia|  7000|
| 25|    James|  4500|
| 32|   Olivia|  5500|
| 38|  William|  6500|
| 27|      Ava|  4700|
| 33|Alexander|  5800|
| 36|      Mia|  6200|
| 29|Charlotte|  4900|
| 31| Benjamin|  5300|
| 34|   Evelyn|  5600|
| 39|   Daniel|  6700|
| 26|   Harper|  4600|
| 32|Alexander|  5500|
| 37| Isabella|  6300|
| 29|   Sophia|  4900|
| 34|    Mason|  5600|
| 31|   Amelia|  5300|
+---+---------+------+
only showing top 20 rows

<class 'pyspark.sql.dataframe.DataFrame'>

In [11]:
df_raw.schema

StructType([StructField('age', LongType(), True), StructField('name', StringType(), True), StructField('salary', LongType(), True)])

In [15]:
from pyspark.sql.functions import col

df_long2int = df_raw.withColumn("age", col("age").cast("integer"))

In [16]:
df_long2int.schema

StructType([StructField('age', IntegerType(), True), StructField('name', StringType(), True), StructField('salary', LongType(), True)])

In [17]:
# pause caffee
spark.stop()

In [47]:
import pyspark
from pyspark.sql.functions import count
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName('test').getOrCreate()
df_raw = spark.read.text('test_unstruc_data.txt') #header option 需要去掉

In [49]:
print(df_raw)
df_raw.show()

DataFrame[value: string]
+--------------------+
|               value|
+--------------------+
|["apple","banana"...|
+--------------------+

In [51]:
df_fruits = df_raw.selectExpr("explode(split(value, ',')) as fruit")  #高级

In [52]:
df_fruits.show

In [53]:
df_counts = df_fruits.groupBy("fruit").agg(count("*").alias("count"))

In [54]:
df_counts.show()

+--------+-----+
|   fruit|count|
+--------+-----+
|"banana"|   10|
|"orange"|   10|
|"grape"]|    1|
|  "pear"|    9|
| "grape"|    9|
|["apple"|    1|
| "apple"|   10|
+--------+-----+

In [46]:
spark.stop()

In [16]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [22]:
sc = spark.sparkContext
rdd = sc.textFile("head_0.csv")

In [23]:
rdd.collect()

['hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag',
 'HV6789,B67890,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,',
 '']