In [65]:
import pyspark
from pyspark.sql import SparkSession
import gdown
import os
from pyspark.sql.functions import *

In [4]:
source_url = 'https://drive.google.com/uc?id=1vcb_HBWsOSKW4XxhLfRpGlLzBLwHlGWJ'
output_path = 'source_data/multi_source_data'
output_file = os.path.join(output_path, 'multi_source_demo.zip') 

gdown.download(source_url, output_file, quiet=False)

Downloading...
From (original): https://drive.google.com/uc?id=1vcb_HBWsOSKW4XxhLfRpGlLzBLwHlGWJ
From (redirected): https://drive.google.com/uc?id=1vcb_HBWsOSKW4XxhLfRpGlLzBLwHlGWJ&confirm=t&uuid=089e7409-dbfd-43d6-ae68-bdcdc16b18c5
To: /home/datatalks_jan/Data_Eden/8_pySpark_pilot/source_data/multi_source_data/multi_source_demo.zip
100%|█████████████████████████████████████████████████████████████| 154M/154M [00:00<00:00, 229MB/s]

'source_data/multi_source_data/multi_source_demo.zip'

In [5]:
os.system(f'unzip -o {output_file} -d {output_path}')

Archive:  source_data/multi_source_data/multi_source_demo.zip
  inflating: source_data/multi_source_data/distribution_centers.csv
  inflating: source_data/multi_source_data/events.csv
  inflating: source_data/multi_source_data/inventory_items.csv
  inflating: source_data/multi_source_data/order_items.csv
  inflating: source_data/multi_source_data/orders.csv
  inflating: source_data/multi_source_data/products.csv
  inflating: source_data/multi_source_data/readme.txt
  inflating: source_data/multi_source_data/users.csv

0

In [6]:
spark = SparkSession.builder.master("local[*]").appName('conrad_test').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/03 10:57:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [50]:
df_1_users = spark.read.option("header", "true").csv(f'{output_path}/users.csv')
df_1_distri_centers = spark.read.option("header", "true").csv(f'{output_path}/distribution_centers.csv')

In [52]:
df_1_users = df_1_users.withColumn("latitude", df_1_users["latitude"].cast("float"))
df_1_users = df_1_users.withColumn("longitude", df_1_users["longitude"].cast("float"))
df_1_distri_centers = df_1_distri_centers.withColumn("latitude", df_1_distri_centers["latitude"].cast("float"))
df_1_distri_centers = df_1_distri_centers.withColumn("longitude", df_1_distri_centers["longitude"].cast("float"))

In [67]:
df_1_distri_centers.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)

In [110]:
from pyspark.sql.functions import col, acos, cos, sin, radians, atan2, sqrt

In [111]:
def haversine_distance(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = 6371 * c 
    return distance

In [135]:
df_1_users.createOrReplaceTempView("users")
df_1_distri_centers.createOrReplaceTempView("distribution_centers")

In [136]:
df_1_sql_query = """
    SELECT u.id as user_id, u.age as user_age, u.country, u.state,
           dc.id AS distribution_center_id,dc.name AS distribution_center_name,
           u.latitude as user_latitude, u.longitude as user_longitude, dc.latitude as center_latitude, dc.longitude as center_longitude
    FROM users u
    CROSS JOIN distribution_centers dc
    ORDER BY u.id
"""

In [146]:
df_1_with_distance = spark.sql(df_1_sql_query).withColumn("distance", haversine_distance(col("user_latitude"), col("user_longitude"), col("center_latitude"), col("center_longitude")))
df_1_with_distance.show()

+-------+--------+-------+---------+----------------------+------------------------+-------------+--------------+---------------+----------------+------------------+
|user_id|user_age|country|    state|distribution_center_id|distribution_center_name|user_latitude|user_longitude|center_latitude|center_longitude|          distance|
+-------+--------+-------+---------+----------------------+------------------------+-------------+--------------+---------------+----------------+------------------+
|      1|      70|  China|   Shanxi|                     1|              Memphis TN|    36.147415|      113.1227|        35.1174|        -89.9711|11737.842558916114|
|      1|      70|  China|   Shanxi|                     2|              Chicago IL|    36.147415|      113.1227|        41.8369|        -87.6847|11089.054948665944|
|      1|      70|  China|   Shanxi|                     3|              Houston TX|    36.147415|      113.1227|        29.7604|        -95.3698|12104.974024220499|
|      1|      70|  China|   Shanxi|                     4|          Los Angeles CA|    36.147415|      113.1227|          34.05|         -118.25|10564.978611447585|
|      1|      70|  China|   Shanxi|                     5|          New Orleans LA|    36.147415|      113.1227|          29.95|        -90.0667|12276.485420254874|
|      1|      70|  China|   Shanxi|                     6|    Port Authority of...|    36.147415|      113.1227|         40.634|        -73.7834|11448.301174679178|
|      1|      70|  China|   Shanxi|                     7|         Philadelphia PA|    36.147415|      113.1227|          39.95|        -75.1667| 11511.02762671131|
|      1|      70|  China|   Shanxi|                     8|               Mobile AL|    36.147415|      113.1227|        30.6944|        -88.0431|12261.354007642278|
|      1|      70|  China|   Shanxi|                     9|           Charleston SC|    36.147415|      113.1227|        32.7833|        -79.9333| 12230.94767892766|
|      1|      70|  China|   Shanxi|                    10|             Savannah GA|    36.147415|      113.1227|        32.0167|        -81.1167|12291.843440491617|
|     10|      18|  China|Guangdong|                     3|              Houston TX|    22.670498|     113.25135|        29.7604|        -95.3698|13430.814635687831|
|     10|      18|  China|Guangdong|                     2|              Chicago IL|    22.670498|     113.25135|        41.8369|        -87.6847|12525.460110687514|
|     10|      18|  China|Guangdong|                     1|              Memphis TN|    22.670498|     113.25135|        35.1174|        -89.9711| 13138.56394967807|
|     10|      18|  China|Guangdong|                     4|          Los Angeles CA|    22.670498|     113.25135|          34.05|         -118.25|11683.981878339073|
|     10|      18|  China|Guangdong|                     5|          New Orleans LA|    22.670498|     113.25135|          29.95|        -90.0667|13655.345542274565|
|     10|      18|  China|Guangdong|                     6|    Port Authority of...|    22.670498|     113.25135|         40.634|        -73.7834|12938.411877665189|
|     10|      18|  China|Guangdong|                     7|         Philadelphia PA|    22.670498|     113.25135|          39.95|        -75.1667|12997.446360826227|
|     10|      18|  China|Guangdong|                     8|               Mobile AL|    22.670498|     113.25135|        30.6944|        -88.0431| 13661.07394238484|
|     10|      18|  China|Guangdong|                     9|           Charleston SC|    22.670498|     113.25135|        32.7833|        -79.9333|13692.047087019244|
|     10|      18|  China|Guangdong|                    10|             Savannah GA|    22.670498|     113.25135|        32.0167|        -81.1167| 13745.04539848241|
+-------+--------+-------+---------+----------------------+------------------------+-------------+--------------+---------------+----------------+------------------+
only showing top 20 rows

In [150]:
from pyspark.sql.window import Window
windowSpec = Window.partitionBy("user_id").orderBy("distance")
df_with_row_number = df_1_with_distance.withColumn("row_number", row_number().over(windowSpec))
df_1_final = df_with_row_number.filter(col("row_number") == 1)
df_1 = df_1_final.select("user_id","user_age","country","state","distribution_center_id","distribution_center_name","distance").orderBy("user_id")
df_1.show()
df_1.printSchema()

+-------+--------+--------------+--------------------+----------------------+------------------------+------------------+
|user_id|user_age|       country|               state|distribution_center_id|distribution_center_name|          distance|
+-------+--------+--------------+--------------------+----------------------+------------------------+------------------+
|      1|      70|         China|              Shanxi|                     4|          Los Angeles CA|10564.978611447585|
|     10|      18|         China|           Guangdong|                     4|          Los Angeles CA|11683.981878339073|
|    100|      32|         China|           Guangdong|                     4|          Los Angeles CA|11433.559166566682|
|   1000|      49|         China|           Guangdong|                     4|          Los Angeles CA|11628.109441907302|
|  10000|      38|         China|           Guangdong|                     4|          Los Angeles CA|11375.162419660232|
| 100000|      34|        France|       Île-de-France|                     6|    Port Authority of...|  5827.07618422238|
|  10001|      12|         Japan|             Okayama|                     4|          Los Angeles CA| 9329.940966048947|
|  10002|      50| United States|          California|                     4|          Los Angeles CA|  50.2449112005029|
|  10003|      34|         China|Inner Mongolia Au...|                     4|          Los Angeles CA|10351.782103638005|
|  10004|      45|         China|               Henan|                     4|          Los Angeles CA|10528.829697124922|
|  10005|      58|   South Korea|         Gyeonggi-do|                     4|          Los Angeles CA| 9612.462559030317|
|  10006|      38|         China|            Shanghai|                     4|          Los Angeles CA|10452.422842371105|
|  10007|      60| United States|               Texas|                     3|              Houston TX|234.14870082472504|
|  10008|      53|         China|             Jiangxi|                     4|          Los Angeles CA|10875.458480029021|
|  10009|      38|        Brasil|               Bahia|                     9|           Charleston SC| 6726.068756218762|
|   1001|      53|         Japan|               Tokyo|                     4|          Los Angeles CA| 8821.330001235976|
|  10010|      22|        Brasil|          Pernambuco|                     9|           Charleston SC| 6521.658472429486|
|  10011|      28|United Kingdom|             England|                     6|    Port Authority of...|5449.8777723765925|
|  10012|      52| United States|         Connecticut|                     6|    Port Authority of...| 166.5618116621524|
|  10013|      70|   South Korea|   Chungcheongnam-do|                     4|          Los Angeles CA|  9638.83584811401|
+-------+--------+--------------+--------------------+----------------------+------------------------+------------------+
only showing top 20 rows

root
 |-- user_id: string (nullable = true)
 |-- user_age: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)
 |-- distribution_center_id: string (nullable = true)
 |-- distribution_center_name: string (nullable = true)
 |-- distance: double (nullable = true)