In [2]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.master("local[*]").appName('test_json').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/14 21:49:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
df_raw = spark.read.option("header", "true").json('test_struc_data.json')

In [10]:
df_raw.show()
print(type(df_raw))

+---+---------+------+
|age|     name|salary|
+---+---------+------+
| 30|     John|  5000|
| 35|     Emma|  6000|
| 28|  Michael|  4800|
| 40|   Sophia|  7000|
| 25|    James|  4500|
| 32|   Olivia|  5500|
| 38|  William|  6500|
| 27|      Ava|  4700|
| 33|Alexander|  5800|
| 36|      Mia|  6200|
| 29|Charlotte|  4900|
| 31| Benjamin|  5300|
| 34|   Evelyn|  5600|
| 39|   Daniel|  6700|
| 26|   Harper|  4600|
| 32|Alexander|  5500|
| 37| Isabella|  6300|
| 29|   Sophia|  4900|
| 34|    Mason|  5600|
| 31|   Amelia|  5300|
+---+---------+------+
only showing top 20 rows

<class 'pyspark.sql.dataframe.DataFrame'>

In [11]:
df_raw.schema

StructType([StructField('age', LongType(), True), StructField('name', StringType(), True), StructField('salary', LongType(), True)])

In [15]:
from pyspark.sql.functions import col

df_long2int = df_raw.withColumn("age", col("age").cast("integer"))

In [16]:
df_long2int.schema

StructType([StructField('age', IntegerType(), True), StructField('name', StringType(), True), StructField('salary', LongType(), True)])

In [17]:
# pause caffee
spark.stop()

In [47]:
import pyspark
from pyspark.sql.functions import count
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName('test').getOrCreate()
df_raw = spark.read.text('test_unstruc_data.txt') #header option 需要去掉

In [49]:
print(df_raw)
df_raw.show()

DataFrame[value: string]
+--------------------+
|               value|
+--------------------+
|["apple","banana"...|
+--------------------+

In [51]:
df_fruits = df_raw.selectExpr("explode(split(value, ',')) as fruit")  #高级

In [52]:
df_fruits.show

In [53]:
df_counts = df_fruits.groupBy("fruit").agg(count("*").alias("count"))

In [54]:
df_counts.show()

+--------+-----+
|   fruit|count|
+--------+-----+
|"banana"|   10|
|"orange"|   10|
|"grape"]|    1|
|  "pear"|    9|
| "grape"|    9|
|["apple"|    1|
| "apple"|   10|
+--------+-----+

In [46]:
spark.stop()

In [16]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [35]:
sc = spark.sparkContext
rdd = sc.textFile("head_{0,1}.csv")

In [36]:
rdd.collect()
rdd.getNumPartitions()

3

In [45]:
start_index = 1
end_index = 2
file_pattern = "head_{}.csv"
file = [file_pattern.format(i) for i in range(start_index,end_index+1)]
print(file)

sc = spark.sparkContext
rdd = sc.textFile(','.join(file))
rdd.collect()
rdd.getNumPartitions()

['head_1.csv', 'head_2.csv']

2

In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext
data = [("order_1", "date_1", "tom", "US"),
        ("order_2", "date_2", "alice", "DE"),
        ("order_3", "date_3", "bob"),
        ("UK", "order_4", "date_4", "Kate", "US")]

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/16 23:28:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [32]:
data = [("order_1", "date_1", "tom", "US"),
        ("order_2", "date_2", "alice", "DE"),
        ("order_3", "date_3", "bob"),
        ("UK", "order_4", "date_4", "Kate", "US")]
rdd_raw = sc.parallelize(data)

In [33]:
flattened_rdd = rdd_raw.flatMap(lambda x: x)

In [34]:
zip_rdd = flattened_rdd.zipWithIndex()

['order_1',
 'date_1',
 'tom',
 'US',
 'order_2',
 'date_2',
 'alice',
 'DE',
 'order_3',
 'date_3',
 'bob',
 'UK',
 'order_4',
 'date_4',
 'Kate',
 'US']

In [37]:
grouped_rdd = zip_rdd.groupBy(lambda x: x[1] // 4).values()

In [38]:
grouped_rdd.collect()

[<pyspark.resultiterable.ResultIterable at 0x7fe9469a9750>,
 <pyspark.resultiterable.ResultIterable at 0x7fe9543f3010>,
 <pyspark.resultiterable.ResultIterable at 0x7fe9454bc290>,
 <pyspark.resultiterable.ResultIterable at 0x7fe945374d50>]

In [21]:
grouped_rdd.collect()

[['order_1', 'date_1', 'tom', 'US'],
 ['order_2', 'date_2', 'alice', 'DE'],
 ['order_3', 'date_3', 'bob'],
 ['UK', 'order_4', 'date_4', 'Kate', 'US']]

[(0, <pyspark.resultiterable.ResultIterable at 0x7fe946a37750>),
 (4, <pyspark.resultiterable.ResultIterable at 0x7fe9543f1590>),
 (8, <pyspark.resultiterable.ResultIterable at 0x7fe946925c90>),
 (12, <pyspark.resultiterable.ResultIterable at 0x7fe9543f3690>),
 (1, <pyspark.resultiterable.ResultIterable at 0x7fe94691c110>),
 (5, <pyspark.resultiterable.ResultIterable at 0x7fe94691c210>),
 (9, <pyspark.resultiterable.ResultIterable at 0x7fe94691c350>),
 (13, <pyspark.resultiterable.ResultIterable at 0x7fe94691c3d0>),
 (2, <pyspark.resultiterable.ResultIterable at 0x7fe94691c290>),
 (6, <pyspark.resultiterable.ResultIterable at 0x7fe95da54610>),
 (10, <pyspark.resultiterable.ResultIterable at 0x7fe946927f90>),
 (14, <pyspark.resultiterable.ResultIterable at 0x7fe94691c550>),
 (3, <pyspark.resultiterable.ResultIterable at 0x7fe94691c5d0>),
 (7, <pyspark.resultiterable.ResultIterable at 0x7fe95da54810>),
 (11, <pyspark.resultiterable.ResultIterable at 0x7fe94691c850>),
 (15, <pyspark.resultiterable.ResultIterable at 0x7fe95da548d0>)]

In [18]:
cleaned_rdd = grouped_rdd.map(lambda x: tuple(v[0] for v in x[1]))

In [19]:
cleaned_rdd.collect()

[('order_1',),
 ('order_2',),
 ('order_3',),
 ('order_4',),
 ('date_1',),
 ('date_2',),
 ('date_3',),
 ('date_4',),
 ('tom',),
 ('alice',),
 ('bob',),
 ('Kate',),
 ('US',),
 ('DE',),
 ('UK',),
 ('US',)]