In [65]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
import gdown
import os
from pyspark.sql.functions import *

In [ ]:
credentials_location = '/home/datatalks_jan/.google/credentials/google_credentials.json'

In [ ]:
conf = SparkConf() \
    .setMaster('local[*]') \
    .setAppName('conrad_test') \
    .set("spark.jars", "./lib/gcs-connector-hadoop3-2.2.5.jar") \
    .set("spark.hadoop.google.cloud.auth.service.account.enable", "true") \
    .set("spark.hadoop.google.cloud.auth.service.account.json.keyfile", credentials_location)

In [ ]:
sc = SparkContext(conf=conf)
hadoop_conf = sc._jsc.hadoopConfiguration()

In [4]:
source_url = 'https://drive.google.com/uc?id=1vcb_HBWsOSKW4XxhLfRpGlLzBLwHlGWJ'
output_path = 'source_data/multi_source_data'
output_file = os.path.join(output_path, 'multi_source_demo.zip') 

gdown.download(source_url, output_file, quiet=False)

Downloading...
From (original): https://drive.google.com/uc?id=1vcb_HBWsOSKW4XxhLfRpGlLzBLwHlGWJ
From (redirected): https://drive.google.com/uc?id=1vcb_HBWsOSKW4XxhLfRpGlLzBLwHlGWJ&confirm=t&uuid=089e7409-dbfd-43d6-ae68-bdcdc16b18c5
To: /home/datatalks_jan/Data_Eden/8_pySpark_pilot/source_data/multi_source_data/multi_source_demo.zip
100%|█████████████████████████████████████████████████████████████| 154M/154M [00:00<00:00, 229MB/s]

'source_data/multi_source_data/multi_source_demo.zip'

In [5]:
os.system(f'unzip -o {output_file} -d {output_path}')

Archive:  source_data/multi_source_data/multi_source_demo.zip
  inflating: source_data/multi_source_data/distribution_centers.csv
  inflating: source_data/multi_source_data/events.csv
  inflating: source_data/multi_source_data/inventory_items.csv
  inflating: source_data/multi_source_data/order_items.csv
  inflating: source_data/multi_source_data/orders.csv
  inflating: source_data/multi_source_data/products.csv
  inflating: source_data/multi_source_data/readme.txt
  inflating: source_data/multi_source_data/users.csv

0

In [6]:
spark = SparkSession.builder \
    .config(conf=sc.getConf()) \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/03 10:57:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [50]:
df_1_users = spark.read.option("header", "true").csv(f'{output_path}/users.csv')
df_1_distri_centers = spark.read.option("header", "true").csv(f'{output_path}/distribution_centers.csv')

In [52]:
df_1_users = df_1_users.withColumn("latitude", df_1_users["latitude"].cast("float"))
df_1_users = df_1_users.withColumn("longitude", df_1_users["longitude"].cast("float"))
df_1_distri_centers = df_1_distri_centers.withColumn("latitude", df_1_distri_centers["latitude"].cast("float"))
df_1_distri_centers = df_1_distri_centers.withColumn("longitude", df_1_distri_centers["longitude"].cast("float"))

In [67]:
df_1_distri_centers.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)

In [110]:
from pyspark.sql.functions import col, acos, cos, sin, radians, atan2, sqrt

In [111]:
def haversine_distance(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = 6371 * c 
    return distance

In [135]:
df_1_users.createOrReplaceTempView("users")
df_1_distri_centers.createOrReplaceTempView("distribution_centers")

In [176]:
df_1_sql_query = """
    SELECT u.id as user_id, u.age as user_age, u.country, u.state,
           dc.id AS distribution_center_id,dc.name AS distribution_center_name,
           u.latitude as user_latitude, u.longitude as user_longitude, dc.latitude as center_latitude, dc.longitude as center_longitude
    FROM users u
    CROSS JOIN distribution_centers dc
"""

In [146]:
df_1_with_distance = spark.sql(df_1_sql_query).withColumn("distance", haversine_distance(col("user_latitude"), col("user_longitude"), col("center_latitude"), col("center_longitude")))
df_1_with_distance.show()

+-------+--------+-------+---------+----------------------+------------------------+-------------+--------------+---------------+----------------+------------------+
|user_id|user_age|country|    state|distribution_center_id|distribution_center_name|user_latitude|user_longitude|center_latitude|center_longitude|          distance|
+-------+--------+-------+---------+----------------------+------------------------+-------------+--------------+---------------+----------------+------------------+
|      1|      70|  China|   Shanxi|                     1|              Memphis TN|    36.147415|      113.1227|        35.1174|        -89.9711|11737.842558916114|
|      1|      70|  China|   Shanxi|                     2|              Chicago IL|    36.147415|      113.1227|        41.8369|        -87.6847|11089.054948665944|
|      1|      70|  China|   Shanxi|                     3|              Houston TX|    36.147415|      113.1227|        29.7604|        -95.3698|12104.974024220499|
|      1|      70|  China|   Shanxi|                     4|          Los Angeles CA|    36.147415|      113.1227|          34.05|         -118.25|10564.978611447585|
|      1|      70|  China|   Shanxi|                     5|          New Orleans LA|    36.147415|      113.1227|          29.95|        -90.0667|12276.485420254874|
|      1|      70|  China|   Shanxi|                     6|    Port Authority of...|    36.147415|      113.1227|         40.634|        -73.7834|11448.301174679178|
|      1|      70|  China|   Shanxi|                     7|         Philadelphia PA|    36.147415|      113.1227|          39.95|        -75.1667| 11511.02762671131|
|      1|      70|  China|   Shanxi|                     8|               Mobile AL|    36.147415|      113.1227|        30.6944|        -88.0431|12261.354007642278|
|      1|      70|  China|   Shanxi|                     9|           Charleston SC|    36.147415|      113.1227|        32.7833|        -79.9333| 12230.94767892766|
|      1|      70|  China|   Shanxi|                    10|             Savannah GA|    36.147415|      113.1227|        32.0167|        -81.1167|12291.843440491617|
|     10|      18|  China|Guangdong|                     3|              Houston TX|    22.670498|     113.25135|        29.7604|        -95.3698|13430.814635687831|
|     10|      18|  China|Guangdong|                     2|              Chicago IL|    22.670498|     113.25135|        41.8369|        -87.6847|12525.460110687514|
|     10|      18|  China|Guangdong|                     1|              Memphis TN|    22.670498|     113.25135|        35.1174|        -89.9711| 13138.56394967807|
|     10|      18|  China|Guangdong|                     4|          Los Angeles CA|    22.670498|     113.25135|          34.05|         -118.25|11683.981878339073|
|     10|      18|  China|Guangdong|                     5|          New Orleans LA|    22.670498|     113.25135|          29.95|        -90.0667|13655.345542274565|
|     10|      18|  China|Guangdong|                     6|    Port Authority of...|    22.670498|     113.25135|         40.634|        -73.7834|12938.411877665189|
|     10|      18|  China|Guangdong|                     7|         Philadelphia PA|    22.670498|     113.25135|          39.95|        -75.1667|12997.446360826227|
|     10|      18|  China|Guangdong|                     8|               Mobile AL|    22.670498|     113.25135|        30.6944|        -88.0431| 13661.07394238484|
|     10|      18|  China|Guangdong|                     9|           Charleston SC|    22.670498|     113.25135|        32.7833|        -79.9333|13692.047087019244|
|     10|      18|  China|Guangdong|                    10|             Savannah GA|    22.670498|     113.25135|        32.0167|        -81.1167| 13745.04539848241|
+-------+--------+-------+---------+----------------------+------------------------+-------------+--------------+---------------+----------------+------------------+
only showing top 20 rows

In [150]:
from pyspark.sql.window import Window
windowSpec = Window.partitionBy("user_id").orderBy("distance")
df_with_row_number = df_1_with_distance.withColumn("row_number", row_number().over(windowSpec))
df_1_final = df_with_row_number.filter(col("row_number") == 1)
df_1 = df_1_final.select("user_id","user_age","country","state","distribution_center_id","distribution_center_name","distance").orderBy("user_id")
df_1.show()
df_1.printSchema()

+-------+--------+--------------+--------------------+----------------------+------------------------+------------------+
|user_id|user_age|       country|               state|distribution_center_id|distribution_center_name|          distance|
+-------+--------+--------------+--------------------+----------------------+------------------------+------------------+
|      1|      70|         China|              Shanxi|                     4|          Los Angeles CA|10564.978611447585|
|     10|      18|         China|           Guangdong|                     4|          Los Angeles CA|11683.981878339073|
|    100|      32|         China|           Guangdong|                     4|          Los Angeles CA|11433.559166566682|
|   1000|      49|         China|           Guangdong|                     4|          Los Angeles CA|11628.109441907302|
|  10000|      38|         China|           Guangdong|                     4|          Los Angeles CA|11375.162419660232|
| 100000|      34|        France|       Île-de-France|                     6|    Port Authority of...|  5827.07618422238|
|  10001|      12|         Japan|             Okayama|                     4|          Los Angeles CA| 9329.940966048947|
|  10002|      50| United States|          California|                     4|          Los Angeles CA|  50.2449112005029|
|  10003|      34|         China|Inner Mongolia Au...|                     4|          Los Angeles CA|10351.782103638005|
|  10004|      45|         China|               Henan|                     4|          Los Angeles CA|10528.829697124922|
|  10005|      58|   South Korea|         Gyeonggi-do|                     4|          Los Angeles CA| 9612.462559030317|
|  10006|      38|         China|            Shanghai|                     4|          Los Angeles CA|10452.422842371105|
|  10007|      60| United States|               Texas|                     3|              Houston TX|234.14870082472504|
|  10008|      53|         China|             Jiangxi|                     4|          Los Angeles CA|10875.458480029021|
|  10009|      38|        Brasil|               Bahia|                     9|           Charleston SC| 6726.068756218762|
|   1001|      53|         Japan|               Tokyo|                     4|          Los Angeles CA| 8821.330001235976|
|  10010|      22|        Brasil|          Pernambuco|                     9|           Charleston SC| 6521.658472429486|
|  10011|      28|United Kingdom|             England|                     6|    Port Authority of...|5449.8777723765925|
|  10012|      52| United States|         Connecticut|                     6|    Port Authority of...| 166.5618116621524|
|  10013|      70|   South Korea|   Chungcheongnam-do|                     4|          Los Angeles CA|  9638.83584811401|
+-------+--------+--------------+--------------------+----------------------+------------------------+------------------+
only showing top 20 rows

root
 |-- user_id: string (nullable = true)
 |-- user_age: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)
 |-- distribution_center_id: string (nullable = true)
 |-- distribution_center_name: string (nullable = true)
 |-- distance: double (nullable = true)

In [151]:
df_2_orders = spark.read.option("header", "true").csv(f'{output_path}/orders.csv')
df_2_order_items = spark.read.option("header", "true").csv(f'{output_path}/order_items.csv')

In [173]:
df_2_orders_last_year = df_2_orders.withColumn("created_at", df_2_orders["created_at"].cast("timestamp")).filter(year("created_at") == 2023)
df_2_orders_last_year.orderBy(df_2_orders_last_year["created_at"]).show(100)

+--------+-------+----------+------+-------------------+--------------------+--------------------+--------------------+-----------+
|order_id|user_id|    status|gender|         created_at|         returned_at|          shipped_at|        delivered_at|num_of_item|
+--------+-------+----------+------+-------------------+--------------------+--------------------+--------------------+-----------+
|  108218|  86249|  Complete|     M|2023-01-01 00:00:00|                null|2023-01-03 10:19:...|2023-01-05 00:57:...|          1|
|   89472|  71296|  Complete|     M|2023-01-01 00:02:00|                null|2023-01-03 09:01:...|2023-01-03 19:03:...|          1|
|  117415|  93606|  Returned|     M|2023-01-01 00:16:00|2023-01-06 20:42:...|2023-01-01 16:31:...|2023-01-05 12:12:...|          1|
|  105710|  84267|   Shipped|     F|2023-01-01 00:19:00|                null|2023-01-02 02:19:...|                null|          1|
|   67811|  54111|  Complete|     F|2023-01-01 00:20:00|                null|2023-01-02 00:48:...|2023-01-06 22:38:...|          1|
|   16305|  13069|  Complete|     M|2023-01-01 00:22:00|                null|2023-01-01 21:54:...|2023-01-06 19:55:...|          1|
|   49828|  39924| Cancelled|     M|2023-01-01 00:27:00|                null|                null|                null|          1|
|   89262|  71114|  Complete|     F|2023-01-01 00:34:00|                null|2023-01-02 00:59:...|2023-01-03 00:18:...|          1|
|    7125|   5726| Cancelled|     M|2023-01-01 00:34:00|                null|                null|                null|          1|
|  106867|  85200|   Shipped|     M|2023-01-01 00:41:00|                null|2023-01-01 10:27:...|                null|          2|
|    2669|   2131| Cancelled|     M|2023-01-01 00:43:00|                null|                null|                null|          1|
|   86084|  68563|   Shipped|     F|2023-01-01 00:45:00|                null|2023-01-03 19:24:...|                null|          2|
|   86858|  69181|Processing|     F|2023-01-01 01:02:00|                null|                null|                null|          1|
|   91265|  72735|  Complete|     F|2023-01-01 01:10:00|                null|2023-01-03 04:55:...|2023-01-05 23:19:...|          1|
|   46764|  37477|Processing|     F|2023-01-01 01:10:00|                null|                null|                null|          1|
|   27745|  22254|   Shipped|     M|2023-01-01 01:10:00|                null|2023-01-03 22:35:...|                null|          1|
|   14394|  11531|  Returned|     F|2023-01-01 01:27:00|2023-01-07 09:42:...|2023-01-02 03:03:...|2023-01-06 17:08:...|          1|
|   41680|  33447|  Complete|     M|2023-01-01 01:34:00|                null|2023-01-02 03:08:...|2023-01-02 04:46:...|          2|
|  102782|  81944|Processing|     M|2023-01-01 01:42:00|                null|                null|                null|          2|
|  108315|  86325|Processing|     F|2023-01-01 01:43:00|                null|                null|                null|          1|
|   94486|  75304|Processing|     M|2023-01-01 01:55:00|                null|                null|                null|          1|
|   97752|  77894|   Shipped|     M|2023-01-01 02:02:00|                null|2023-01-02 05:57:...|                null|          1|
|  112139|  89405| Cancelled|     F|2023-01-01 02:03:00|                null|                null|                null|          2|
|  106202|  84686|  Complete|     M|2023-01-01 02:04:00|                null|2023-01-02 19:03:...|2023-01-04 08:02:...|          1|
|   15274|  12244|  Complete|     F|2023-01-01 02:16:00|                null|2023-01-01 23:44:...|2023-01-06 11:20:...|          1|
|   82811|  65973|  Complete|     F|2023-01-01 02:17:00|                null|2023-01-02 13:24:...|2023-01-07 04:20:...|          2|
|  110969|  88450|  Complete|     F|2023-01-01 02:33:00|                null|2023-01-02 10:56:...|2023-01-04 01:50:...|          1|
|   54239|  43355| Cancelled|     F|2023-01-01 02:40:00|                null|                null|                null|          1|
|   87849|  69985|  Returned|     M|2023-01-01 02:55:00|2023-01-04 14:34:...|2023-01-02 01:12:...|2023-01-02 01:28:...|          1|
|  104732|  83516|  Returned|     F|2023-01-01 02:59:00|2023-01-04 00:20:...|2023-01-03 04:17:...|2023-01-03 12:11:...|          2|
|   36040|  28909|   Shipped|     F|2023-01-01 03:02:00|                null|2023-01-02 03:06:...|                null|          1|
|   84305|  67126| Cancelled|     F|2023-01-01 03:05:00|                null|                null|                null|          1|
|   73483|  58555|   Shipped|     M|2023-01-01 03:08:00|                null|2023-01-03 05:20:...|                null|          1|
|   23780|  19023|  Returned|     M|2023-01-01 03:27:00|2023-01-07 04:10:...|2023-01-01 05:55:...|2023-01-04 13:51:...|          2|
|   35903|  28812| Cancelled|     M|2023-01-01 03:28:00|                null|                null|                null|          1|
|   52471|  41983|  Returned|     F|2023-01-01 03:34:00|2023-01-06 11:25:...|2023-01-02 04:18:...|2023-01-05 11:40:...|          1|
|  120943|  96512|   Shipped|     M|2023-01-01 03:37:00|                null|2023-01-01 04:17:...|                null|          1|
|   96160|  76633| Cancelled|     M|2023-01-01 03:39:00|                null|                null|                null|          2|
|  123056|  98219|   Shipped|     F|2023-01-01 03:39:00|                null|2023-01-02 20:25:...|                null|          1|
|   87332|  69560|   Shipped|     M|2023-01-01 03:43:00|                null|2023-01-02 03:31:...|                null|          3|
|   49058|  39310|   Shipped|     F|2023-01-01 03:57:00|                null|2023-01-02 20:18:...|                null|          2|
|   44449|  35642|   Shipped|     F|2023-01-01 03:59:00|                null|2023-01-03 13:20:...|                null|          2|
|  111681|  89033|  Complete|     F|2023-01-01 04:00:00|                null|2023-01-03 01:26:...|2023-01-06 14:33:...|          2|
|   43851|  35185|   Shipped|     M|2023-01-01 04:07:00|                null|2023-01-02 16:12:...|                null|          2|
|   30888|  24798|   Shipped|     F|2023-01-01 04:22:00|                null|2023-01-01 19:43:...|                null|          1|
|   31749|  25474| Cancelled|     M|2023-01-01 04:26:00|                null|                null|                null|          1|
|  103362|  82391|   Shipped|     M|2023-01-01 04:38:00|                null|2023-01-02 18:40:...|                null|          1|
|   91696|  73085|  Complete|     F|2023-01-01 04:44:00|                null|2023-01-01 16:11:...|2023-01-05 16:40:...|          1|
|   24902|  19942|Processing|     M|2023-01-01 04:45:00|                null|                null|                null|          2|
|   92272|  73536|Processing|     M|2023-01-01 04:46:00|                null|                null|                null|          3|
|   32174|  25793|  Complete|     M|2023-01-01 04:56:00|                null|2023-01-03 12:01:...|2023-01-08 09:51:...|          1|
|    4624|   3681| Cancelled|     F|2023-01-01 05:01:00|                null|                null|                null|          1|
|   90247|  71938|   Shipped|     M|2023-01-01 05:02:00|                null|2023-01-01 22:01:...|                null|          1|
|   17231|  13797| Cancelled|     F|2023-01-01 05:07:00|                null|                null|                null|          1|
|  100444|  80055| Cancelled|     F|2023-01-01 05:07:00|                null|                null|                null|          1|
|   46212|  37052|Processing|     F|2023-01-01 05:07:00|                null|                null|                null|          1|
|   59137|  47316|  Complete|     F|2023-01-01 05:13:00|                null|2023-01-03 21:37:...|2023-01-07 23:27:...|          1|
|  104733|  83517|Processing|     F|2023-01-01 05:23:00|                null|                null|                null|          1|
|   46356|  37158| Cancelled|     F|2023-01-01 05:26:00|                null|                null|                null|          1|
|   31281|  25105|  Returned|     F|2023-01-01 05:31:00|2023-01-07 00:55:...|2023-01-01 15:30:...|2023-01-05 22:45:...|          2|
|   31258|  25090| Cancelled|     F|2023-01-01 05:41:00|                null|                null|                null|          1|
|   10595|   8522|   Shipped|     F|2023-01-01 05:46:00|                null|2023-01-03 13:31:...|                null|          3|
|  109681|  87458|   Shipped|     M|2023-01-01 05:51:00|                null|2023-01-01 08:29:...|                null|          1|
|    6650|   5334|   Shipped|     M|2023-01-01 05:55:00|                null|2023-01-02 23:30:...|                null|          1|
|   13158|  10507|  Complete|     F|2023-01-01 05:59:00|                null|2023-01-03 15:37:...|2023-01-07 19:38:...|          1|
|   37836|  30331| Cancelled|     F|2023-01-01 05:59:00|                null|                null|                null|          2|
|   14968|  11997|  Complete|     M|2023-01-01 06:01:00|                null|2023-01-01 21:29:...|2023-01-02 06:52:...|          2|
|   49730|  39848|   Shipped|     M|2023-01-01 06:02:00|                null|2023-01-02 06:54:...|                null|          1|
|   31589|  25346|Processing|     M|2023-01-01 06:05:00|                null|                null|                null|          1|
|   78856|  62874|   Shipped|     F|2023-01-01 06:05:00|                null|2023-01-01 08:33:...|                null|          1|
|   77134|  61525|Processing|     F|2023-01-01 06:19:00|                null|                null|                null|          1|
|   30077|  24144| Cancelled|     F|2023-01-01 06:19:00|                null|                null|                null|          1|
|   44648|  35797|  Complete|     M|2023-01-01 06:25:00|                null|2023-01-01 23:09:...|2023-01-06 01:24:...|          1|
|  115561|  92131|Processing|     M|2023-01-01 06:30:00|                null|                null|                null|          1|
|   31733|  25463| Cancelled|     M|2023-01-01 06:32:00|                null|                null|                null|          1|
|  122264|  97589|   Shipped|     F|2023-01-01 06:43:00|                null|2023-01-02 13:35:...|                null|          1|
|  111069|  88548|  Returned|     F|2023-01-01 06:47:00|2023-01-07 00:57:...|2023-01-01 08:16:...|2023-01-05 04:21:...|          2|
|   44504|  35686|Processing|     F|2023-01-01 06:50:00|                null|                null|                null|          2|
|   59386|  47531|  Complete|     F|2023-01-01 06:56:00|                null|2023-01-01 20:38:...|2023-01-05 04:03:...|          3|
|   10802|   8699|Processing|     M|2023-01-01 07:02:00|                null|                null|                null|          1|
|   13797|  11028|  Returned|     F|2023-01-01 07:16:00|2023-01-08 12:02:...|2023-01-02 09:39:...|2023-01-07 09:09:...|          1|
|   18061|  14480|  Returned|     F|2023-01-01 07:17:00|2023-01-07 07:34:...|2023-01-02 11:17:...|2023-01-04 09:44:...|          1|
|   92651|  73833| Cancelled|     M|2023-01-01 07:28:00|                null|                null|                null|          1|
|   42637|  34202|  Complete|     F|2023-01-01 07:42:00|                null|2023-01-01 07:58:...|2023-01-02 08:13:...|          2|
|   81576|  65024| Cancelled|     F|2023-01-01 07:44:00|                null|                null|                null|          2|
|   47700|  38237|   Shipped|     F|2023-01-01 07:52:00|                null|2023-01-02 18:44:...|                null|          1|
|   61627|  49235| Cancelled|     M|2023-01-01 07:53:00|                null|                null|                null|          1|
|  107632|  85805|   Shipped|     M|2023-01-01 07:58:00|                null|2023-01-02 13:54:...|                null|          1|
|   91878|  73213| Cancelled|     M|2023-01-01 07:58:00|                null|                null|                null|          1|
|    1095|    890|   Shipped|     F|2023-01-01 08:02:00|                null|2023-01-02 16:42:...|                null|          4|
|   65658|  52397|   Shipped|     F|2023-01-01 08:21:00|                null|2023-01-04 04:58:...|                null|          1|
|   97032|  77332|Processing|     M|2023-01-01 08:33:00|                null|                null|                null|          1|
|   48911|  39184|   Shipped|     F|2023-01-01 08:34:00|                null|2023-01-04 06:27:...|                null|          1|
|   12999|  10393|  Complete|     M|2023-01-01 08:37:00|                null|2023-01-01 15:31:...|2023-01-01 23:59:...|          1|
|   73844|  58846|Processing|     F|2023-01-01 08:52:00|                null|                null|                null|          1|
|   37558|  30097|   Shipped|     M|2023-01-01 08:55:00|                null|2023-01-01 22:32:...|                null|          1|
|   29100|  23349|  Complete|     F|2023-01-01 08:56:00|                null|2023-01-04 00:25:...|2023-01-06 16:50:...|          1|
|   19668|  15759|  Complete|     F|2023-01-01 09:07:00|                null|2023-01-03 03:47:...|2023-01-06 02:08:...|          2|
|   12558|  10077|   Shipped|     M|2023-01-01 09:07:00|                null|2023-01-02 22:22:...|                null|          1|
|   73805|  58821|   Shipped|     M|2023-01-01 09:17:00|                null|2023-01-01 16:34:...|                null|          1|
+--------+-------+----------+------+-------------------+--------------------+--------------------+--------------------+-----------+
only showing top 100 rows

In [162]:
df_2_orders_last_year.createOrReplaceTempView("orders_last_year")
df_2_order_items.createOrReplaceTempView("order_items")

In [180]:
df_2_sql = spark.sql("""
    SELECT t2.order_id, t1.user_id, t1.product_id, t1.status, t1.sale_price
    FROM  order_items as t1
    INNER JOIN orders_last_year as t2 on t2.order_id = t1.order_id
""")

In [181]:
df_2_sql.show()

+--------+-------+----------+----------+----------+
|order_id|user_id|product_id|    status|sale_price|
+--------+-------+----------+----------+----------+
|    7401|   5955|     13606|   Shipped|       2.5|
|   15156|  12140|     13606|   Shipped|       2.5|
|  112131|  89401|     13606|  Returned|       2.5|
|  109741|  87498|     13696|   Shipped|       3.5|
|   40873|  32792|     13696|  Complete|       3.5|
|   45837|  36739|     28679|  Complete|       3.5|
|   51252|  41004|     28679|  Complete|       3.5|
|   82249|  65559|     28668|  Complete|       3.5|
|   44958|  36034|     15917|  Returned|       3.5|
|   50940|  40764|     14248|  Returned|       3.5|
|   74499|  59387|     28668|  Returned|       3.5|
|    2159|   1733|     15784| Cancelled|       3.5|
|  102081|  81377|     15419| Cancelled|       3.5|
|   20438|  16354|     15917|Processing|       3.5|
|   86795|  69129|     12602| Cancelled|      3.75|
|   58472|  46791|     12667|   Shipped|         4|
|   87586|  69767|     25265|   Shipped|       4.5|
|  105527|  84116|     24922|   Shipped|       4.5|
|  107010|  85314|     25265|   Shipped|       4.5|
|   59470|  47592|     25265|  Complete|       4.5|
+--------+-------+----------+----------+----------+
only showing top 20 rows

In [182]:
df_2_sql.createOrReplaceTempView("order_details")

In [191]:
df_2 = spark.sql("""
    SELECT user_id, COUNT(CASE WHEN status = 'Returned' THEN product_id END) / COUNT(product_id) as product_return_rate
    FROM  order_details
    GROUP BY user_id
""")
df_2.show()

+-------+-------------------+
|user_id|product_return_rate|
+-------+-------------------+
|  55371| 0.3333333333333333|
|  76321|                0.0|
|  67728|                0.0|
|  83450|                0.0|
|  50254|                0.0|
|   5645|                0.0|
|  36067|                0.0|
|  26005| 0.6666666666666666|
|  49079|                1.0|
|  16974|                0.0|
|  75602|                0.0|
|  37774|                0.0|
|  51550|                0.0|
|  52991|                0.0|
|  42776|                0.0|
|  45141|                0.0|
|  90022|                0.0|
|  29573|                0.0|
|  65548|                0.0|
|  67074|                0.0|
+-------+-------------------+
only showing top 20 rows

In [184]:
df_3_product_price = spark.read.option("header", "true").csv(f'{output_path}/products.csv')

In [185]:
df_3_product_price = df_3_product_price.select("id", "cost")

In [187]:
df_3_product_price.createOrReplaceTempView("product_price")

In [192]:
df_3 = spark.sql("""
    SELECT user_id, SUM(T1.sale_price - T2.cost) as profit_total
    FROM  order_details AS T1
    LEFT JOIN product_price AS T2 ON T2.id = T1.product_id
    GROUP BY user_id
""")

df_3.show()

+-------+------------------+
|user_id|      profit_total|
+-------+------------------+
|  55371| 36.56049993814668|
|  76321|3.6499999836087236|
|  67728| 6.160000022500753|
|  83450|34.115999944508076|
|  50254| 7.504000009968877|
|   5645| 80.19799986854196|
|  36067| 45.91799999959767|
|  26005| 58.43153086270138|
|  49079| 76.41999986022711|
|  16974|164.59368116655358|
|  75602|245.21341720238505|
|  37774| 9.614000018686056|
|  51550|104.69988313152537|
|  52991|50.305400310753285|
|  42776|11.711999997496603|
|  45141| 30.59799999045208|
|  90022|24.426070789695085|
|  29573| 50.58567986480862|
|  65548|13.607999987900255|
|  67074| 13.74799995869398|
+-------+------------------+
only showing top 20 rows

In [196]:
df_final = df_1.join(df_2, "user_id").join(df_3, "user_id")
df_final = df_final.select("user_id","user_age","country","state","distribution_center_id","distribution_center_name","product_return_rate","profit_total")

df_final = df_final.withColumn("user_age", df_final["user_age"].cast("int"))

df_final.show()
df_final.printSchema()

+-------+--------+-------------+--------------------+----------------------+------------------------+-------------------+------------------+
|user_id|user_age|      country|               state|distribution_center_id|distribution_center_name|product_return_rate|      profit_total|
+-------+--------+-------------+--------------------+----------------------+------------------------+-------------------+------------------+
|  10003|      34|        China|Inner Mongolia Au...|                     4|          Los Angeles CA|                0.0|15.735300476637484|
|  10009|      38|       Brasil|               Bahia|                     9|           Charleston SC|                0.0|175.31354011801167|
|  10023|      68|        China|           Guangdong|                     4|          Los Angeles CA|                0.0|21.074899063354728|
|  10039|      34|      Belgium|            Flanders|                     6|    Port Authority of...|                0.0|24.584000065922737|
|  10047|      35|  South Korea|         Gyeonggi-do|                     4|          Los Angeles CA|                0.0| 176.7811963791337|
|  10052|      62|  South Korea|         Gyeonggi-do|                     4|          Los Angeles CA|                0.0| 13.22558988833785|
|  10054|      37|        China|           Guangdong|                     4|          Los Angeles CA|                0.0| 62.45099981687963|
|  10055|      53|United States|          California|                     4|          Los Angeles CA|                0.0| 100.4917402377373|
|  10058|      65|United States|             Georgia|                    10|             Savannah GA|                1.0|27.980190201783024|
|  10073|      51|United States|             Florida|                     8|               Mobile AL|                0.0| 22.20925006456673|
|  10076|      58|       Brasil|            Amazonas|                    10|             Savannah GA|                0.0| 15.58293972727418|
|  10077|      60|        China|              Yunnan|                     4|          Los Angeles CA|                0.0|   4.8990401063776|
|   1008|      23|        China|           Guangdong|                     4|          Los Angeles CA|                0.0| 57.59500005794689|
|  10088|      49|        China|             Jiangsu|                     4|          Los Angeles CA|                0.5|25.934151125196742|
|  10096|      70|        Spain|      Islas Baleares|                     6|    Port Authority of...|                0.0|30.850000120699406|
|    101|      14|      Germany|   Baden-Württemberg|                     6|    Port Authority of...|                0.0| 4.484259890099764|
|  10104|      51|United States|             Florida|                    10|             Savannah GA|                0.0| 53.27570042907744|
|  10107|      19|        Japan|               Tokyo|                     4|          Los Angeles CA|                0.0| 3.599760061448216|
|  10109|      50|United States|             Indiana|                     2|              Chicago IL|                0.0| 5.856480088223218|
|  10115|      27|        China|               Henan|                     4|          Los Angeles CA|                0.0| 39.81600005179643|
+-------+--------+-------------+--------------------+----------------------+------------------------+-------------------+------------------+
only showing top 20 rows

root
 |-- user_id: string (nullable = true)
 |-- user_age: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)
 |-- distribution_center_id: string (nullable = true)
 |-- distribution_center_name: string (nullable = true)
 |-- product_return_rate: double (nullable = true)
 |-- profit_total: double (nullable = true)

In [ ]:
final_df.write.csv("gs://my-zhe-414813/conrad_output", mode="overwrite")